@model MedicationManager.ViewModels.Meds.AddMedViewModel

@{
    ViewData["Title"] = "Add New Medication";
}
<h2>@ViewData["Title"]</h2>

<p>Coming Soon</p>

<form>
    <!--Include a hidden field to pass the value of the ToD enum to the controller and user id-->
</form>