@model MedicationManager.ViewModels.AddUserViewModel

<h1>Create Your Account</h1>

<p>@if (ViewBag.errorMessage != null) { @ViewBag.errorMessage }</p>
<form method="post">
    <div class="form-group">
        <label asp-for="FullName">Full Name
            <input class="form-control" asp-for="FullName" />
        </label>
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Username">Username
            <input class="form-control" asp-for="Username" />
        </label>
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Email">Email
            <input class="form-control" asp-for="Email" />
        </label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Password">Password
            <input class="form-control" asp-for="Password" />
        </label>
        <span class="field-validation-valid" asp-validation-for="Password"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="VerifyPassword">Verify Password
            <input class="form-control" asp-for="VerifyPassword" />
        </label>
        <span asp-validation-for="VerifyPassword" class="text-danger"></span>
    </div>
    
    <button type="submit" class="btn btn-default">Submit</button>
</form>

Get here by accident? <a asp-controller="User" asp-action="Login">Go back and Login!</a>
